---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const notes = await getCollection('notes');
---
<Layout title="笔记列表">
  <main>
    <h1>我的笔记</h1>
    <ul>
      {notes.map((note) => (
        <li>
          <a href={`/notes/${note.slug}/`}>
            {note.data.title} ({note.data.pubDate.toLocaleDateString()})
          </a>
        </li>
      ))}
    </ul>
  </main>
</Layout>
