---
import Layout from '../layouts/Layout.astro';
---
<Layout title="我的博客与笔记">
  <main>
    <h1>欢迎来到我的网站！</h1>
    <p>这是一个集博客、笔记和文件分享的网站。</p>
    <ul>
      <li><a href="/blog/">博客文章</a></li>
      <li><a href="/notes/">我的笔记</a></li>
      <li><a href="/files/">文件汇总</a></li>
    </ul>
  </main>
</Layout>
